<div class="block" *ngIf="items.length">
<h4 class="list-group-item list-group-item-dark col-sm-6 width">Cart:</h4>
<ul class="list-group col-sm-6">
  <li *ngFor="let item of items" class="list-group-item list-group-item-warning">
    <app-cart-item
      [item] = "item"
      (remove)="onRemove($event)"
      (increment)="onIncrement($event)"
      (decrement)="onDecrement($event)">
    </app-cart-item>
  </li>
</ul>
<button class="btn btn-primary" (click)="clear()">Clear</button>
<app-order></app-order>
</div>