<div class="form-group">
  <label>Login:</label>
  <input [(ngModel)]="customer.login" type="text" class="form-control" #login>
  <label>Password:</label>
  <input [(ngModel)]="customer.password" type="password" class="form-control" #password>
  <label>Confirm password:</label>
  <input [(ngModel)]="repeatedPassword" type="password" class="form-control" #password>
  <div *ngIf="customer.password && repeatedPassword && customer.password !== repeatedPassword">
      <br><span class="alert alert-danger" role="alert">Password does not match</span>
  </div>
  <label>First Name:</label>
  <input [(ngModel)]="customer.firstName" type="text" class="form-control" #firstname>
  <label>Last Name:</label>
  <input [(ngModel)]="customer.lastName" type="text" class="form-control" #lasttname>
  <label>Adress:</label>
  <input [(ngModel)]="customer.address" type="text" class="form-control" #address>
</div>
<div *ngIf="customer.login && customer.password && customer.firstName && customer.lastName && customer.address && customer.password === repeatedPassword">
  <button (click)="register()" *ngIf="!authService.isLoggedIn">Register</button>
  <button (click)="update()" *ngIf="authService.isLoggedIn">Update</button>
</div>
<div *ngIf="!(customer.login && customer.password && customer.firstName && customer.lastName && customer.address && customer.password === repeatedPassword)">
    <br><span class="alert alert-danger" role="alert">Fill in all the fields</span>
</div>
<div *ngIf="errorMessage">
    <br><span class="alert alert-danger" role="alert">{{errorMessage}}</span>
</div>