<div class="row">
    <h4 class="col-md-8">Shopping Cart</h4>
    <span class="col-md-2">
      <a class="btn btn-default" (click)="close()">x</a>
    </span>
</div>

<table>
    <thead>
        <th>Name</th>
        <th>Quantity</th>
        <th>Control</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of items"
          [item] = "item"
          (remove)="onRemove($event)"
          (increment)="onIncrement($event)"
          (decrement)="onDecrement($event)">
        </tr>
    </tbody>
</table>

<br>
<button class="btn btn-primary" (click)="clear()">Clear</button>
<button class="btn btn-primary" routerLink="/cart/order">Order</button>