<div class="row">
    <h4 class="col-md-10">Shopping Cart</h4>
    <span class="col-md-2">
      <a class="btn btn-default" (click)="close()">x</a>
    </span>
</div>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Control</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of items">
        <app-cart-item
          [item] = "item"
          (remove)="onRemove($event)"
          (increment)="onIncrement($event)"
          (decrement)="onDecrement($event)">
        </app-cart-item>
    </tbody>
</table>

<button class="btn btn-primary" (click)="clear()">Clear</button>
<button class="btn btn-primary" routerLink="/cart/order">Order</button>