<p class="information">Total quantity: {{values.totalQuantity}}</p>
<p class="information">Total amount: {{values.amount | currency:'USD':'symbol':'1.2-2'}}</p>
<div class="form-group" *ngIf="!isLoggedIn">
  <button (click)="login()">Login</button>
  <button (click)="register()">Register</button>
</div>
<div *ngIf="customer.login.length && customer.password.length && customer.firstName.length && customer.lastName.length && customer.address.length">
  <p>Delivery address: {{customer.address}}, {{customer.firstName}} {{customer.lastName}}</p>
  <button (click)="buy()">Buy</button>
</div>