<div class="panel panel-default">
    <div class="panel-heading">Order</div>
    <div class="panel-body">
      <ul>
        <li>Create Date: {{order.createDate | date}}</li>
        <li>Products:
          <uL *ngFor="let product of order.boughtProducts">
              <li>{{product.name}}</li>
              <ul>
                <li>Quantity: {{product.quantity}}</li>
                <li>Price: {{product.price}}</li>
              </ul>
          </uL>
        </li>
        <li>Statuses:
          <uL *ngFor="let status of order.status">
              <li>{{status.date | date}}: {{status.status}}</li>
          </uL>
        </li>
      </ul>
    </div>
  </div>
  